* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  background-color: #333;
}

p {
  max-width: 97%;
}

a:hover {
  color: #7499f1;
}

#container {
  max-width: 1200px;
  padding: 5px;
  padding-top: 20px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 95vh;
  width: 95vw;
}

header {
  display: flex;
  align-items: center;
}

header img {
  width: 10%;
}

.navigation {
  flex-grow: 1;
  margin-left: 40px;
}

.navigation--item {
  text-decoration: none;
  color: #bdbdbd;
  margin-left: 24px;
}

.navigation--item:first-child {
  margin-left: 0;
}

.navigation--item__active {
  color: white;
}

.navigation--button {
  border: 2px solid #333;
  background: linear-gradient(270deg, #7499f1 15%, #f89746 50%, #ed7d2a 80%);
  border-radius: 50px;
  padding: 10px 36px;
  color: white;
  font-weight: 500;
  text-decoration: none;

  transition: all 10ms ease-in-out;
}

.navigation--button:hover {
  border: 1px solid #bdbdbd;
  background: transparent;

  background: -webkit-linear-gradient(
    100deg,
    #7499f1 35%,
    #f89746 50%,
    #ed7d2a 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation--button:focus {
  outline-style: none;
}

.home--main {
  display: flex;
  align-items: center;
  padding: 15px;
}

.main--content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main--content p {
  color: #eaf3fa;
}

.headline {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #7499f1;
}

.inputfields {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 5px;
  outline: none;
  text-indent: 5px;
  padding: 3px;
  margin-right: 5px;
}

.form-text {
  font-weight: 500;
  font-size: 18px;
}

.submit--button {
  border: 1px solid #bdbdbd;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 5px;
  background: transparent;
  outline: none;
  padding: 3.5px 10px;

  background: -webkit-linear-gradient(
    100deg,
    #7499f1 35%,
    #f89746 50%,
    #ed7d2a 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all 10ms ease-in-out;
}

.submit--button:hover {
  border: 1px solid #333;
}

form label {
  color: #ed7d2a;
}

.description {
  color: #828282;
  margin: 0;
  padding: 0;

  margin-top: 24px;
  margin-bottom: 40px;
}

.break-emoji {
  display: none;
}

.main--img {
  flex: 1;
}

.main--img img {
  width: 100%;
}

footer {
  display: flex;
  color: #bdbdbd;
  font-size: 20px;
  margin-top: 20px;
}

.socials {
  margin-right: 40px;
}

.socials--item {
  margin-right: 12px;
  text-decoration: none;
}

.socials--item .fa {
  font-size: 1.5rem;
}

.socials--item .fa:hover {
  color: #f89746;
}

footer > a {
  color: #f89746;
  text-decoration: none;
}

.services--main {
  padding: 15px;
  height: 80%;
}

.Analyse {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 65%;
  float: right;
}

.hello {
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin-top: 20px;
}

.listen {
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
}

.charts {
  width: 50%;
  height: 200px;
  position: relative;
}

#top_genre_chart {
  display: block;
  box-sizing: border-box;
}

.top50 {
  border: 3px solid white;
  border-radius: 10px;
  padding: 5px 36px;
}

.top50 h1 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.recent50 {
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px 36px;
}

.chart_container {
  display: flex;
}

.recent50 h1 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.Playlist iframe {
  float: left;
  margin-top: 10px;
  width: 30%;
  height: 565px;
}

input[type="text"] {
  color: black;
}

#entered-playlist {
  width: 45%;
  height: 75%;
  float: left;
  margin: 0px;
  padding: 0px;
}

#entered-playlist iframe {
  width: 100%;
  height: 100%;
}

.playlist_charts {
  width: 50%;
  height: 75%;
  float: right;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 36px;
}

.playlist_chart_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist_chart_container div {
  width: 100%;
  height: 48%;
}

#mobile-playlist {
  display: none;
}

.menu--button {
  flex-grow: 1;
  display: none;
}

.menu--button button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.mobile-navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  padding: 24px;

  display: none;

  transform: translateX(-100%);

  transition: transform 300ms ease-in-out;
}

.mobile-navigation__open {
  transform: translateX(0);
}

.mobile-navigation--header {
  display: flex;
  align-items: center;

  margin-bottom: 40px;
}

.close-button button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
}

.mobile-navigation--item {
  text-decoration: none;
  font-size: 1.5rem;
  color: #bdbdbd;
  display: block;
  margin-bottom: 24px;
}

.mobile-navigation--item:hover {
  color: #7499f1;
}

.mobile-navigation--header img {
  width: 40%;
  margin-right: 50%;
}

.mobile-navigation--item__active {
  color: white;
}

.song-form {
  margin-top: 40px;
}

#getsong,
#getartist {
  width: 95%;
}

.login-image {
  width: 50%;
  margin: auto;
}

#login-image {
  width: 100%;
  display: block;
  margin: auto;
}

.login--main h1 {
  margin-left: 20px;
  width: 50%;
  margin-top: 50px;
}

.login--main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login--content {
  display: flex;
}

.links {
  float: right;
  width: 50%;
}

.services-link,
.discover-link,
.merge-link {
  width: 80%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  align-items: center;
}

.services-link a,
.merge-link a,
.discover-link a {
  text-decoration: none;
  font-weight: 500;
  margin: auto;
}

.services-link img,
.merge-link img,
.discover-link img {
  width: 20%;
  height: 20%;
  border-radius: 100px;
  margin-right: 30px;
  margin-left: 10px;
}

.services-link img {
  border-radius: 20px;
}

.links a:hover {
  color: #333;
}

.services-link {
  background-color: #f47556;
  float: left;
}

.discover-link {
  background-color: #f89746;
  float: left;
}

.merge-link {
  float: right;
  background-color: #446eb7;
}

.success,
.error {
  background-color: white;
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 8px;
  width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-left: 6px solid #d20d38;
}

.success i {
  color: #270;
  margin: 0px 10px;
  font-size: 15px;
}

.error i {
  color: #d20d38;
  margin: 0px 10px;
  font-size: 15px;
}

.success {
  border-left: 10px solid #270;
  background-color: #c6e8cf;
}

.error {
  border-left: 10px solid #d20d38;
  background-color: #f9c8c7;
}

.success span {
  color: #270;
}

.error span {
  color: #d20d38;
}

.merge--main {
  margin-top: 50px;
}

.merge--main form {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #333;
  width: 80%;
}

.add-button {
  color: #7499f1;
}

.merge--main i {
  font-size: 25px;
}

.merge--main form h1 {
  color: #7499f1;
  font-size: 30px;
}

.merge-playlist {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.merge-playlist input {
  border-radius: 5px;
  text-indent: 5px;
  margin-right: 20px;
  font-weight: 300;
  color: #333;
  width: 80%;
}

.merge-playlist input:focus {
  outline: none;
  border: 2px solid #333;
}

.merge-playlist label {
  color: #333;
}

.new-merged-playlist {
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 10px;
  width: 45%;
}

.new-merged-playlist iframe {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
}

#name-playlist label {
  color: #333;
  font-size: 18px;
}

.merge-playlist > * {
  margin-left: 10px;
}

.song-form {
  width: 55%;
  margin: 0;
  margin-top: 50px;
}

.discover {
  display: flex;
  height: 70%;
}

.discover-playlist {
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 10px;
  width: 50%;
  color: #7499f1;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
}

.discover-playlist iframe {
  width: 100%;
  height: 600px;
  margin-top: 10px;
}

.discover-artists {
  margin-top: 30px;
  margin-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #7499f1;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
}

.discover-artists iframe {
  height: 80px;
}

.discover--main {
  height: 80vh;
}

.lyrics_chart_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lyrics_chart_container div {
  width: 45%;
  height: 90%;
}

.lyrics_charts {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 30px;
  padding: 5px 36px;
}

#carousel {
  margin-top: 40px;
  z-index: 0;
}

#carousel img {
  background-color: white;
  padding: 20px;
  width: 150px;
  height: 150px;
}

.contact-form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
  color: #333;
  background-color: #ebeff2;
}

.contact-form input[type="text"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #333;
}

.contact-form label {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.contact-form input[type="submit"] {
  background-color: #817ffe;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #446eb7;
}

.contact-form {
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  width: 100%;
  align-self: center;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.contact--main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info a {
  text-decoration: none;
  color: #7499f1;
}

.info a:hover {
  color: #ed7d2a;
}

.form-headline {
  font-size: 30px;
  font-weight: 600;
  color: #ed7d2a;
  margin-top: 0px;
  margin-bottom: 5px;
}

.introline {
  color: #7499f1;
  font-size: 42px;
  font-weight: 500;
  margin-top: 30px;
}

#contact-headline {
  color: #ed7d2a;
}

.success,
.error {
  margin-bottom: 10px;
}

@media only screen and (max-width: 680px) {
  main {
    display: flex;
    flex-direction: column;
    width: 92vw;
    padding-top: 80px;
  }

  .lyrics_charts {
    padding: 10px;
  }

  .lyrics_chart_container {
    flex-direction: column;
    height: 502.78px;
    padding: 0px;
    width: 100%;
  }

  .lyrics--main {
    height: fit-content;
  }

  .lyrics_chart_container div {
    height: 45%;
    width: 90%;
  }

  .discover--main {
    height: fit-content;
    padding-top: 50px;
  }

  .song-form {
    width: 95%;
  }

  .discover-playlist {
    margin-top: 30px;
    width: 100%;
    margin: 0px;
    margin-top: 30px;
    height: 80px;
    color: #7499f1;
    font-weight: 400;
    overflow: visible;
  }

  .discover-playlist iframe {
    height: 100%;
  }

  .discover-artists {
    width: 100%;
  }

  .first-artist {
    margin-top: 20px;
  }

  .discover {
    flex-direction: column;
  }

  .discover-artists {
    margin-top: 80px;
    margin-left: 0px;
    color: #7499f1;
    font-weight: 400;
  }

  .top50,
  .recent50,
  .playlist_charts {
    z-index: -1;
  }

  input[type="text"] {
    color: black;
  }

  .hello,
  .listen {
    margin-left: 10px;
  }

  .home--main {
    padding-top: 75px;
  }

  .services--main {
    padding-top: 110px;
  }

  #container {
    padding-top: 0px;
  }

  header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #333;
    align-items: center;
    z-index: 1;
  }

  .navigation--button,
  .menu--button {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .playlist_chart_container {
    height: 502.78px;
  }

  .Playlist iframe {
    float: right;
    width: 95%;
    height: 80px;
  }

  #mobile-playlist {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .break-emoji {
    display: block;
  }

  #computer-playlist {
    display: none;
  }

  #entered-playlist {
    margin: 0px 20px 10px 10px;
    padding: 0px;
    width: 95%;
    height: 80px;
    float: left;
  }

  .merge--main {
    padding-top: 30px;
    width: 95%;
  }

  .merge--main .success,
  .error {
    width: 60%;
  }

  .new-merged-playlist {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    align-items: center;
  }

  .merge--main form {
    margin-top: 20px;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .Analyse {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    float: right;
  }

  .charts {
    width: 100%;
    height: 200px;
    position: relative;
  }

  #top_genre_chart {
    display: block;
    box-sizing: border-box;
  }

  .headline {
    font-size: 42px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 90%;
  }

  .error {
    width: 80%;
  }

  header .logo {
    display: none;
  }

  .navigation {
    display: none;
  }

  .mobile-navigation {
    display: block;
    z-index: 2;
  }

  .menu--button {
    display: block;
    margin-left: 10px;
  }

  header,
  footer,
  .services--main {
    width: 92vw;
  }

  .chart_container {
    flex-direction: column;
  }

  .playlist_charts {
    width: 95%;
    height: 70%;
    align-self: center;
    margin-bottom: 10px;
  }

  .login-image {
    width: 100%;
    align-self: center;
  }

  .login--main h1 {
    margin: 30px 20px;
    width: 90%;
  }

  .login--content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    width: 100%;
  }

  .services-link,
  .discover-link,
  .merge-link {
    width: 95%;
    float: none;
    text-decoration: none;
    margin: auto;
    margin-bottom: 20px;
  }

  .services-link {
    background-color: #f47556;
    margin-top: 50px;
  }

  .success {
    margin-top: 20px;
    width: 40%;
  }

  .error {
    margin-top: 20px;
    width: 90%;
  }
}
