<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=1, user-scalable=yes"
    />

    <link rel="icon" href="../static/img/piper-favicon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />

    <title>About.</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/jquery.flipster.min.css" />
    <script src="../static/js/jquery.flipster.min.js"></script>
  </head>
  <body>
    <div class="mobile-navigation" id="mobile-navigation">
      <div class="mobile-navigation--header">
        <img src="../static/img/Piper..png" alt="" class="logo" />

        <div class="close-button" onclick="toggleMobileNavigation()">
          <button>
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>

      <a href="{{ url_for('homepage')}}" class="mobile-navigation--item"
        >Home</a
      >
      <a href="{{ url_for('lyrics')}}" class="mobile-navigation--item"
        >Lyrics</a
      >
      <a href="" class="mobile-navigation--item mobile-navigation--item__active"
        >About</a
      >
    </div>

    <div id="container">
      <header id="header">
        <img src="../static/img/Piper..png" alt="" class="logo" />

        <nav class="navigation">
          <a href="{{ url_for('homepage')}}" class="navigation--item">Home</a>
          <a href="{{ url_for('lyrics')}}" class="navigation--item">Lyrics</a>
          <a href="" class="navigation--item navigation--item__active">About</a>
        </nav>

        <div class="menu--button" onclick="toggleMobileNavigation()">
          <button>
            <i class="fa fa-reorder"></i>
          </button>
        </div>

        <a class="navigation--button" href="{{ url_for('auth')}}">Login</a>
      </header>

      <main>
        <p style="font-size: 20px; margin-top: 50px">
          Piper uses Machine Learning to classify songs into different genres
          and predict the mood of the song. The datasets for training the models
          were obtained using the Spotify API. The machine learning models
          however, are not completely accurate and may classify some songs
          wrong. Lyrical Analysis is done by cleaning the lyrics using the NLTK
          library and conducting an analysis on the words using the
          <a href="https://saifmohammad.com/WebPages/NRC-Emotion-Lexicon.htm"
            >NRC Emotion Lexicon</a
          >
          to extract the overall valence and emotion of the song. After login
          you can choose to analyse your tracks, merge multiple playlists and/or
          albums and get a curated playlist of recommended songs.
        </p>
        <p style="color: #7499f1; font-size: 20px">
          Piper was built using the following languages, packages, frameworks
          and APIs:
        </p>
        <ul>
          <li>Spotify API</li>
          <li>Genius API</li>
          <li>HTML, CSS, JavaScript, JQuery, Python</li>
          <li>Flask</li>
          <li>NLTK</li>
          <li>Numpy, Pandas and Scikit Learn</li>
          <li>Spotipy (A python library for the Spotify API)</li>
          <li>Lyricsgenius (A python library for the Genius API)</li>
          <li>ChartJS</li>
          <li>Jquery Flipster</li>
          <li>Google Colab</li>
        </ul>
        <div id="carousel">
          <ul class="flip-items">
            <li>
              <img src="../static/img/html.png" height="100" />
            </li>
            <li>
              <img src="../static/img/css.png" height="100" />
            </li>
            <li>
              <img src="../static/img/js.png" height="100" />
            </li>
            <li>
              <img src="../static/img/jquery.png" height="100" />
            </li>
            <li>
              <img src="../static/img/python.png" height="100" />
            </li>
            <li>
              <img src="../static/img/flask.png" height="100" />
            </li>
            <li>
              <img src="../static/img/spotify.png" height="100" />
            </li>
            <li>
              <img src="../static/img/numpy.png" height="100" />
            </li>
            <li>
              <img src="../static/img/pandas.png" height="100" />
            </li>
            <li>
              <img src="../static/img/sklearn.png" height="100" />
            </li>
            <li>
              <img src="../static/img/chartjs.svg" height="100" />
            </li>
            <li>
              <img src="../static/img/colab.png" height="100" />
            </li>
          </ul>
        </div>
      </main>

      <footer>
        <div class="socials">
          <a
            href="https://linkedin.com/in/aditirao72"
            target="_blank"
            class="socials--item"
          >
            <i class="fa fa-linkedin"></i>
          </a>
          <a
            href="https://github.com/aditirao7"
            target="_blank"
            class="socials--item"
          >
            <i class="fa fa-github"></i>
          </a>
        </div>

        <span>Aditi Rao</span>
      </footer>
    </div>

    <script>
      function toggleMobileNavigation() {
        var element = document.getElementById("mobile-navigation");
        var head = document.getElementById("header");
        if (element.classList.contains("mobile-navigation__open")) {
          element.classList.remove("mobile-navigation__open");
        } else {
          element.classList.add("mobile-navigation__open");
        }
      }

      $(document).ready(function () {
        $("#carousel").flipster({
          style: "coverflow",
          spacing: -0.3,
          start: "center",
          scrollwheel: true,
          keyboard: true,
          touch: true,
          fadeIn: 600,
        });
      });
    </script>
  </body>
</html>
