<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=1, user-scalable=yes"
    />

    <link rel="icon" href="../static/img/piper-favicon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />

    <title>Merge</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      var fieldNum = 0;
      const color = ["#F17B37", "#BD575F","#8C75AF","#39BEB9"];
      $(function () {
        var inv = {{flash|tojson}};
        if(inv.localeCompare('true')!=0) {
            $("#message span").text(inv);
            if(inv.localeCompare('Success!')==0)
            {
                $("#message i").attr("class", "fa fa-check");
                $("#message").attr("class", "success");
                $(".new-merged-playlist").attr("style", "display:block");
                $("#merge-music").attr("style", "display:none");
            }
            else
            {
                $("#message i").attr("class", "fa fa-times-circle");
                $("#message").attr("class", "error");
            }
            $("#message").attr("style", "display:block");
        }
        $(".add").click(function () {
          $(".dummy input").attr("name", "playlist-" + (3 + fieldNum));
          $(".dummy label").text("Album/Playlist " + (3 + fieldNum));
          $(".dummy > p").css("background-color", (color[(3+fieldNum)%4]));
          $(".dummy > p").clone(true).insertBefore(".add-button");
          fieldNum++;
          return false;
        });

        $(".remove").click(function () {
          $(this).parent().remove();
          fieldNum--;
        });
      });
    </script>
  </head>
  <body>
    <div class="mobile-navigation" id="mobile-navigation">
      <div class="mobile-navigation--header">
        <img src="../static/img/Piper..png" alt="" class="logo" />

        <div class="close-button" onclick="toggleMobileNavigation()">
          <button>
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>

      <a href="{{ url_for('homepage')}}" class="mobile-navigation--item"
        >Home</a
      >
      <a href="{{ url_for('lyrics')}}" class="mobile-navigation--item"
        >Lyrics</a
      >
      <a href="{{ url_for('contact')}}" class="mobile-navigation--item"
        >About</a
      >
    </div>

    <div id="container">
      <header id="header">
        <img src="../static/img/Piper..png" alt="" class="logo" />

        <nav class="navigation">
          <a href="{{ url_for('homepage')}}" class="navigation--item">Home</a>
          <a href="{{ url_for('lyrics')}}" class="navigation--item">Lyrics</a>
          <a href="{{ url_for('contact')}}" class="navigation--item">About</a>
        </nav>

        <div class="menu--button" onclick="toggleMobileNavigation()">
          <button>
            <i class="fa fa-reorder"></i>
          </button>
        </div>
      </header>

      <main class="merge--main">
        <div class="dummy" style="display: none">
          <p class="merge-playlist">
            <label>Album/Playlist 1</label><br />
            <input type="text" name="playlist-1" autocomplete="off" />
            <span class="remove"><i class="fa fa-close"></i></span>
          </p>
        </div>
        <div id="message" style="display: none">
          <i class="fa fa-check"></i>
          <span>Message</span>
        </div>
        <div class="content">
          <div class="new-merged-playlist" style="display: none">
            <iframe
              src="{{playlist}}"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </div>
          <form method="POST" action="{{url_for('merge')}}">
            <h1>Merge Playlists</h1>
            <p
              class="merge-playlist"
              id="name-playlist"
              style="background-color: #f17b37"
            >
              <label>Name of Merged Playlist</label>
              <input type="text" name="new-playlist-name" autocomplete="off" />
            </p>
            <p class="merge-playlist" style="background-color: #bd575f">
              <label>Album/Playlist 1</label><br />
              <input type="text" name="playlist-1" autocomplete="off" />
            </p>
            <p class="merge-playlist" style="background-color: #8c75af">
              <label>Album/Playlist 2</label><br />
              <input type="text" name="playlist-2" autocomplete="off" />
            </p>
            <p class="add-button">
              <span class="add"><i class="fa fa-plus"></i></span>
            </p>
            <input type="submit" value="Merge" class="submit--button" />
          </form>
        </div>
      </main>

      <footer>
        <div class="social">
          <a
            href="https://linkedin.com/in/aditirao72"
            target="_blank"
            class="socials--item"
          >
            <i class="fa fa-linkedin"></i>
          </a>
          <a
            href="https://github.com/aditirao7"
            target="_blank"
            class="socials--item"
          >
            <i class="fa fa-github"></i>
          </a>
        </div>

        <a href="mailto:aditirao725@gmail.com">Aditi Rao</a>
      </footer>
    </div>

    <script>
      function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
      }

      async function toggleMobileNavigation() {
        var element = document.getElementById("mobile-navigation");
        var head = document.getElementById("header");
        if (element.classList.contains("mobile-navigation__open")) {
          element.classList.remove("mobile-navigation__open");
          await sleep(280);
        } else {
          element.classList.add("mobile-navigation__open");
        }
      }
    </script>
  </body>
</html>
